<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.videoeditorreactnative">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application>
    <activity
      android:name="com.banuba.sdk.ve.flow.VideoCreationActivity"
      android:screenOrientation="portrait"
      android:theme="@style/CustomIntegrationAppTheme"
      android:windowSoftInputMode="adjustResize"
      tools:replace="android:theme"/>
  </application>
</manifest>
